<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create News</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Add News</h2>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.name.id_for_label }}" class="form-label"
            >Title</label
          >
          {{ form.title }}
        </div>
        <div class="mb-3">
          <label for="{{ form.description.id_for_label }}" class="form-label"
            >Description</label
          >
          {{ form.description }}
        </div>
        <div class="mb-3">
          <label for="{{ form.is_active.id_for_label }}" class="form-label"
            >Is_active</label
          >
          {{ form.is_active }}
        </div>
        <div class="mb-3">
          <label for="{{ form.category.id_for_label }}" class="form-label"
            >Category</label
          >
          {{ form.category }}
        </div>
        <div class="mb-3">
        <label for="{{ form.tags.id_for_label }}" class="form-label">Tags</label>
        {{ form.tags }}
      </div>

        
       
          
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
